[Container]
ContainerName=gitea_db
Image=postgres:17
Network=gitea.network
Volume=%h/volumes/gitea/postgres:/var/lib/postgresql/data:z
EnvironmentFile=%h/volumes/gitea/db.env
UserNS=keep-id
User=%U

[Service]
Restart=always

