[Container]
ContainerName=gitea_main
Image=gitea/gitea:1.22-rootless
Network=gitea.network
PublishPort=3000:3000
PublishPort=222:22
EnvironmentFile=%h/volumes/gitea/gitea.env
Volume=%h/volumes/gitea/data:/var/lib/gitea:z
Volume=%h/volumes/gitea/config:/etc/gitea:z
Volume=/etc/localtime:/etc/localtime:ro
UserNS=keep-id
User=%U

[Service]
Restart=always

[Install]
WantedBy=default.target

[Unit]
Requires=gitea_db.service
