[Unit]
Requires=forgejo-db.service
After=forgejo-db.service

[Container]
ContainerName=forgejo
EnvironmentFile=%h/volumes/forgejo/forgejo.env
Image=codeberg.org/forgejo/forgejo:9-rootless
Network=forgejo.network
PublishPort=4000:3000
PublishPort=4222:2222
Volume=%h/volumes/forgejo:/var/lib/gitea:z
Volume=%h/volumes/forgejo/conf:/etc/gitea:z
Volume=/etc/localtime:/etc/localtime:ro
UserNS=keep-id
User=%U

[Service]
Restart=always

[Install]
WantedBy=default.target
