[Unit]
Requires=leantime_db.service
After=leantime_db.service

[Container]
ContainerName=leantime
EnvironmentFile=%h/volumes/leantime/mysql.env
EnvironmentFile=%h/volumes/leantime/leantime.env
Image=leantime/leantime:3.2.1
Network=leantime.network
Network=lldap.network
PublishPort=4080:80
Volume=%h/volumes/leantime/public_userfiles:/var/www/html/public/userfiles:z
Volume=%h/volumes/leantime/userfiles:/var/www/html/userfiles:z
Volume=%h/volumes/leantime/plugins:/var/www/html/app/Plugins:z


[Service]
Restart=always
