[Container]
ContainerName=heimdall
Environment=TZ=Europe/Moscow
Image=lscr.io/linuxserver/heimdall
PublishPort=3290:80
Volume=%h/volumes/heimdall/config:/config:z
Network=slirp4netns

[Install]
WantedBy=default.target

[Service]
Restart=always

